html, body {
	height: 100%;
	margin: 0;
}

body {
	font: 'Raleway', sans-serif;	
	color: rgba(0,0,0,.5);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-transform: uppercase;
	letter-spacing: .2em;
	background: linear-gradient(to right, #e66465, #f6b73c);
}

h1 {
	font: 600 2.5em 'Raleway', sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

span, h2 {
	font: 300 1.5em 'Raleway', sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: none;
	letter-spacing: 0.01em;
}

.copy-color {	
	text-align: center;
	cursor: pointer;
	width: 380px;
}

span {
	font-size: 1em;		
}

.tooltip {
	position: relative;
	display: inline-block;
  }
  
.tooltip .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
